<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Gürkan | Portföy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<button class="mode-toggle" onclick="toggleMode()">🌙 / ☀️</button>

<div class="hero">
    <div class="profile-card">
        <img src="{{ url_for('static', filename='profile.png') }}" class="profile-img">

        <h1>Gürkan Bülbül</h1>
        <p>Python & Web Developer</p>

        <div class="skills">
            <p>Python</p>
            <div class="bar"><div class="fill python"></div></div>

            <p>HTML</p>
            <div class="bar"><div class="fill html"></div></div>

            <p>CSS</p>
            <div class="bar"><div class="fill css"></div></div>
        </div>

        <div class="btn-group">
            <a href="/projects" class="btn">Projeler</a>
            <a href="/contact" class="btn outline">İletişim</a>
        </div>
    </div>
</div>

<script>
function toggleMode() {
    document.body.classList.toggle("light");
}
</script>

</body>
</html>
