<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Gürkan | Portföy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="hero">
    <div class="profile-card">
        <img src="{{ url_for('static', filename='profile.png') }}" alt="Profil Foto" class="profile-img">

        <h1>Gürkan Bülbül</h1>
        <p>Python & Web Developer</p>

        <div class="btn-group">
            <a href="/projects" class="btn">Projeler</a>
            <a href="/contact" class="btn outline">İletişim</a>
        </div>
    </div>
</div>

</body>
</html>
